.Header-Container {
    display: flex;
    width: 100%;
    padding: 1.2em;
    position: relative;
    align-items: center;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.Header-Container div {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: #FFF 0 0 10px, #FFF 0 0 20px, #F16EB3 0 0 10px,
                #F16EB3 0 0 10px, #F16EB3 0 0 10px, #F16EB3 0 0 20px, #F16EB3 0 0 20px;
}
.Header-Container span:first-of-type {
    font-style: italic;
}